body {
  font-family: var(--main-font-name);
  font-style: normal;
  background-color: var(--body-bg-color);
}

ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.page-header,
.page-footer,
.section {
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 375px;
  width: 100%;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    padding-left: 24px;
    padding-right: 24px;
    width: 768px;
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;
  }

  background-color: var(--third-bg-color);
}

.page-header {
  padding-top: 8px;

  @media screen and (min-width: 768px) {
    padding-top: 24px;
  }

  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.page-footer {
  padding-bottom: 8px;

  @media screen and (min-width: 768px) {
    padding-bottom: 24px;
  }

  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.container {
  padding: 0 20px;

  @media screen and (min-width: 768px) {
    padding: 0 56px;
  }

  background-color: var(--main-bg-color);
}
