<header class="page-header">
  <div class="container page-header__container">
    <button class="menu-button page-header__menu-button">
      <svg
        class="page-header__menu-button-icon"
        width="24"
        height="24"
        aria-label="иконка кнопки меню"
      >
        <use href=""></use>
        <use href=""></use>
      </svg>
    </button>
    <a href="index.html" class="logo">Инстаботы</a>
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">О компании</li>
        <li class="navigation__item">Тарифы</li>
        <li class="navigation__item">Отзывы</li>
        <li class="navigation__item">Q&A</li>
        <li class="navigation__item">Обратная связь</li>
      </ul>
    </nav>
    <div class="site-language">
      <span class="site-language__switcher">
        <a href="" class="site-language__ru">ru</a>/<a href="" class="site-language__en">en</a>
      </span>
    </div>
    <button class="login-button page-header__login-button">
      <svg
        class="page-header__login-button-icon"
        width="16"
        height="18"
        aria-label="иконка кнопки регистрации/входа на сайт"
      >
        <use href=""></use>
      </svg>
      <span class="login-button-text">Вход и регистрация</span>
    </button>
  </div>
</header>
