<section class="section section-questions">
    <div class="container">
        <h2 class="section-questions__title">Часто задаваемые вопросы</h2>
        <ul class="section-questions__list">
            <li class="secton-questions__item">
                <div class="section-questions__question">
                    <h3 class="section-questions__title2">Первый вопрос</h3>
                    <button class="section-questions__button">
                        <svg>
                            <use href="images/questions/questions-open.svg"></use>
                            <use href="images/questions/questions-close.svg"></use>
                        </svg>
                    </button>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa mi aliquet eu interdum eu pellentesque amet, fermentum
                hendrerit. Nunc hendrerit nec risus adipiscing lacus, lobortis lectus cursus nunc. Id pellentesque dapibus eu tincidunt
                dui id tortor, porttitor. Tincidunt nunc praesent euismod in nisl, tellus suspendisse morbi nam. Egestas eget erat
                malesuada gravida. Et enim integer quam orci, cursus tincidunt mauris, sit.</p>
            </li>

            <li class="secton-questions__item">
                <div class="section-questions__question">
                    <h3 class="section-questions__title2">Второй вопрос</h3>
                    <button class="section-questions__button">
                        <svg>
                            <use href="images/questions/questions-open.svg"></use>
                            <use href="images/questions/questions-close.svg"></use>
                        </svg>
                    </button>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa mi aliquet eu interdum eu pellentesque amet,
                    fermentum
                    hendrerit. Nunc hendrerit nec risus adipiscing lacus, lobortis lectus cursus nunc. Id pellentesque dapibus eu
                    tincidunt
                    dui id tortor, porttitor. Tincidunt nunc praesent euismod in nisl, tellus suspendisse morbi nam. Egestas eget
                    erat
                    malesuada gravida. Et enim integer quam orci, cursus tincidunt mauris, sit.</p>
            </li>

            <li class="secton-questions__item">
                <div class="section-questions__question">
                    <h3 class="section-questions__title2">Третий вопрос</h3>
                    <button class="section-questions__button">
                        <svg>
                            <use href="images/questions/questions-open.svg"></use>
                            <use href="images/questions/questions-close.svg"></use>
                        </svg>
                    </button>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa mi aliquet eu interdum eu pellentesque amet,
                    fermentum
                    hendrerit. Nunc hendrerit nec risus adipiscing lacus, lobortis lectus cursus nunc. Id pellentesque dapibus eu
                    tincidunt
                    dui id tortor, porttitor. Tincidunt nunc praesent euismod in nisl, tellus suspendisse morbi nam. Egestas eget
                    erat
                    malesuada gravida. Et enim integer quam orci, cursus tincidunt mauris, sit.</p>
            </li>

            <li class="secton-questions__item">
                <div class="section-questions__question">
                    <h3 class="section-questions__title2">Четвертый вопрос</h3>
                    <button class="section-questions__button">
                        <svg>
                            <use href="images/questions/questions-open.svg"></use>
                            <use href="images/questions/questions-close.svg"></use>
                        </svg>
                    </button>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa mi aliquet eu interdum eu pellentesque amet,
                    fermentum
                    hendrerit. Nunc hendrerit nec risus adipiscing lacus, lobortis lectus cursus nunc. Id pellentesque dapibus eu
                    tincidunt
                    dui id tortor, porttitor. Tincidunt nunc praesent euismod in nisl, tellus suspendisse morbi nam. Egestas eget
                    erat
                    malesuada gravida. Et enim integer quam orci, cursus tincidunt mauris, sit.</p>
            </li>
        </ul>

    </div>
</section>