<section class="section section-tariffs" id="section-tariffs">
  <div class="container">
    <h2 class="section-tariffs__title">Наши тарифы</h2>
    <ul class="section-tariffs__list">
      <li class="section-tariffs__item">
        <h3 class="section-tariffs__subtitle">Эконом</h3>
        <p class="section-tariffs__price">2 990 руб/месяц</p>
        <ul class="section-tariffs__list-services">
          <li class="section-tariffs__item-services">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit
            felis odio.
          </li>
          <li class="section-tariffs__item-services">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </li>
          <li class="section-tariffs__item-services">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </li>
          <li class="section-tariffs__item-services">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit
            felis odio.
          </li>
        </ul>
        <button class="section-tariffs__button">Узнать подробнее</button>
      </li>
      <li class="section-tariffs__item">
        <h3 class="section-tariffs__subtitle">Стандарт</h3>
        <p class="section-tariffs__price">4 990 руб/месяц</p>
        <ul class="section-tariffs__list-services">
          <li class="section-tariffs__item-services">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit
            felis odio.
          </li>
          <li class="section-tariffs__item-services">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </li>
          <li class="section-tariffs__item-services">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </li>
          <li class="section-tariffs__item-services">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit
            felis odio.
          </li>
        </ul>
        <button class="section-tariffs__button">Узнать подробнее</button>
      </li>
      <li class="section-tariffs__item">
        <h3 class="section-tariffs__subtitle">Экстра</h3>
        <p class="section-tariffs__price">8 990 руб/месяц</p>
        <ul class="section-tariffs__list-services">
          <li class="section-tariffs__item-services">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit
            felis odio.
          </li>
          <li class="section-tariffs__item-services">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </li>
          <li class="section-tariffs__item-services">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </li>
          <li class="section-tariffs__item-services">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit
            felis odio.
          </li>
        </ul>
        <button class="section-tariffs__button">Узнать подробнее</button>
      </li>
      <li class="section-tariffs__item">
        <h3 class="section-tariffs__subtitle">Премиальный</h3>
        <p class="section-tariffs__price">12 990 руб/месяц</p>
        <ul class="section-tariffs__list-services">
          <li class="section-tariffs__item-services">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit
            felis odio.
          </li>
          <li class="section-tariffs__item-services">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </li>
          <li class="section-tariffs__item-services">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </li>
          <li class="section-tariffs__item-services">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit
            felis odio.
          </li>
        </ul>
        <button class="section-tariffs__button">Узнать подробнее</button>
      </li>
    </ul>
  </div>
</section>
