<section class="section section-sale">
    <div class="container"></div>
        <img 
        class="section-sale__image"
        scrset="images/sale/sale.jpg 1x, images/sale/sale2.jpg 2x"
        src="images/sale/sale.jpg" 
        width="628px"
        height="640px"
        alt="Sale">
        <div class="section-sale__container">
            <h2 class="section-sale__title">Получите самую выгодную цену на планете</h2>
            <form action="" class="section-sale__form">
                <input 
                class="section-sale__input"
                type="email" 
                name="sale-email" 
                id="sale-email"
                placeholder="Введите свой e-mail"
                required>
                <button type="submit">Отправить</button>
            </form>
            <p>Нажимая на кнопку вы соглашаетесь на обработку персональных данных</p>
        </div>
    </div>
</section>