<section class="section section-how-we-do">
  <div class="container section-how-we-do__container">
    <h2 class="title section-how-we-do__title">Как мы работаем</h2>
    <div class="carousel section-how-we-do__carousel-container">
      <div class="carousel__slide">
        <h3 class="carousel__title">Lorem ipsum dolor sit amet, consectetur.</h3>
        <p class="carousel__subtitle">Semper sollicitudin ut cursus nunc eu ultricies.</p>
        <p class="carousel__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere lorem nulla tincidunt
          egestas nibh. Non orci, et massa sed vulputate proin. Eu euismod diam, arcu sit vitae nam.
          Tristique orci, ornare sit vel amet.
        </p>
        <p class="carousel__description">
          Ut elit dui iaculis malesuada in auctor dui. Sollicitudin varius vitae ut vitae lacus, sem
          dolor fermentum enim. Orci orci interdum pretium adipiscing augue sit nisl adipiscing.
        </p>
      </div>
      <div class="carousel__slide">
        <h3 class="carousel__title">Lorem ipsum dolor sit amet, consectetur.</h3>
        <p class="carousel__subtitle">Semper sollicitudin ut cursus nunc eu ultricies.</p>
        <p class="carousel__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere lorem nulla tincidunt
          egestas nibh. Non orci, et massa sed vulputate proin. Eu euismod diam, arcu sit vitae nam.
          Tristique orci, ornare sit vel amet.
        </p>
        <p class="carousel__description">
          Ut elit dui iaculis malesuada in auctor dui. Sollicitudin varius vitae ut vitae lacus, sem
          dolor fermentum enim. Orci orci interdum pretium adipiscing augue sit nisl adipiscing.
        </p>
      </div>
      <div class="carousel__slide">
        <h3 class="carousel__title">Lorem ipsum dolor sit amet, consectetur.</h3>
        <p class="carousel__subtitle">Semper sollicitudin ut cursus nunc eu ultricies.</p>
        <p class="carousel__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere lorem nulla tincidunt
          egestas nibh. Non orci, et massa sed vulputate proin. Eu euismod diam, arcu sit vitae nam.
          Tristique orci, ornare sit vel amet.
        </p>
        <p class="carousel__description">
          Ut elit dui iaculis malesuada in auctor dui. Sollicitudin varius vitae ut vitae lacus, sem
          dolor fermentum enim. Orci orci interdum pretium adipiscing augue sit nisl adipiscing.
        </p>
      </div>
    </div>
    <button class="button section-how-we-do__call-back-button">Забронировать звонок</button>
  </div>
</section>
