<section class="section section-tariffs" id="section-tariffs">
  <h2 class="section-tariffs__title">Наши тарифы</h2>
  <ul class="section-tariffs__list">
    <li class="section-tariffs__item">
      <h3>Эконом</h3>
      <p>2 990 руб/месяц</p>
      <ul>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit felis
          odio.
        </li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit felis
          odio.
        </li>
      </ul>
      <button>Узнать подробнее</button>
    </li>
    <li class="section-tariffs__item">
      <h3>Стандарт</h3>
      <p>4 990 руб/месяц</p>
      <ul>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit felis
          odio.
        </li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit felis
          odio.
        </li>
      </ul>
      <button>Узнать подробнее</button>
    </li>
    <li class="section-tariffs__item">
      <h3>Экстра</h3>
      <p>8 990 руб/месяц</p>
      <ul>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit felis
          odio.
        </li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit felis
          odio.
        </li>
      </ul>
      <button>Узнать подробнее</button>
    </li>
    <li class="section-tariffs__item">
      <h3>Премиальный</h3>
      <p>12 990 руб/месяц</p>
      <ul>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit felis
          odio.
        </li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit felis
          odio.
        </li>
      </ul>
      <button>Узнать подробнее</button>
    </li>
  </ul>
</section>
